<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applikasjonen</title>
    <meta http-equiv="refresh" content="10">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th style="width: 200px;">Tidspunkt</th>
            <th style="width: 300px;">Klokkeslett</th>
            <th style="width: 150px;">Intervall(s)</th>
            <th style="width: 500px;">Tid siden forrige oppdatering(ms)</th>
            <th style="width: 500px;">PodID</th>
        </tr>
        {% for entry in db %}
    <tr>
        <td>{{entry.id}}</td>
        <td style="width: 200px;">{{entry.tidspunkt}}</td>
        <td style="width: 300px;">{{entry.tid}}</td>
        <td style="width: 200px;">{{entry.intervall}}</td>
        <td style="width: 500px;">{{entry.tid_siden_siste}}</td>
        <td style="width: 500px;">{{entry.pod_navn}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>