<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applikasjonen</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th style="width: 200px;">Tidspunkt</th>
            <th style="width: 300px;">Klokkeslett</th>
            <th>Intervall</th>
            <th>Tid siden forrige oppdatering</th>
        </tr>
        {% for entry in db %}
    <tr>
        <td>{{entry.id}}</td>
        <td>{{entry.tidspunkt}}</td>
        <td>{{entry.tid}}</td>
        <td>{{entry.intervall}}</td>
        <td>{{entry.tid_siden_siste}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>